[Unit]
Description=Druid overlord Service
After=network.target

[Service]
User={{ druid_user }}
Environment="JAVA_HOME=/usr/bin/java"
#ExecStart=/bin/sh -c "/usr/bin/java $(/bin/cat {{ druid_path }}conf/druid/overlord/jvm.config | /usr/bin/xargs) -cp {{ druid_path }}conf/druid/_common:{{ druid_path }}conf/druid/overlord:{{ druid_path }}lib/* org.apache.druid.cli.Main server overlord"
ExecStart=/bin/bash -c "{{ druid_path }}bin/overlord.sh start"
Restart=always

[Install]
WantedBy=default.target
