[Unit]
Description=Druid coordinator Service
After=network.target

[Service]
User={{ druid_user }}
Environment="JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64"
#ExecStart=/bin/sh -c "/usr/bin/java $(/bin/cat {{ druid_path }}conf/druid/coordinator/jvm.config | /usr/bin/xargs) -cp {{ druid_path }}conf/druid/_common:{{ druid_path }}conf/druid/coordinator:{{ druid_path }}lib/* org.apache.druid.cli.Main server coordinator"
ExecStart=/bin/bash -c "{{ druid_path }}bin/start-cluster-master-no-zk-server"
Restart=always

[Install]
WantedBy=default.target
