druid.service=druid/historical
druid.host={{ ansible_ec2_public_ipv4|default(ansible_default_ipv4.address) }}
druid.plaintextPort={{ druid_historical_port }}

# HTTP server threads
druid.server.http.numThreads={{ druid_historical_num_http_threads }}

# Processing threads and buffers
druid.processing.buffer.sizeBytes={{ druid_historical_buffer_size }}
druid.processing.numMergeBuffers=4
druid.processing.numThreads={{ druid_historical_num_threads }}
druid.processing.tmpDir=var/druid/processing

# Segment storage
druid.segmentCache.locations=[{"path": "var/druid/segment-cache", "maxSize": {{ druid_segment_maxsize }}}]
druid.server.maxSize={{ druid_segment_maxsize }}

# Query cache
druid.historical.cache.useCache=true
druid.historical.cache.populateCache=true
druid.cache.type=caffeine
druid.cache.sizeInBytes=256MiB

{% if druid_historical_monitoring_monitors is defined %}
# Logging monitors
druid.monitoring.monitors=[{% for monitor in druid_historical_monitoring_monitors %}"{{ monitor }}"{% if loop.index != loop.length %}, {% endif %}{% endfor %}]
{% endif %}
