-server
-Xms{{ druid_router_xms }}
-Xmx{{ druid_router_xmx }}
-XX:+UseG1GC
-XX:MaxDirectMemorySize={{ druid_router_max_direct_size }}
-XX:+ExitOnOutOfMemoryError
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
